# This is a basic workflow to help you get started with Actions

name: CI workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
run-linter-and-tests:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: npm i

    - name: Lint code
      run: npm run lint

    - name: Run tests
      run: npm test
