# This is a basic workflow to help you get started with Actions

name: Run Coverage on PR

# Controls when the workflow will run
on: pull_request

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-linter-and-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm i

      - name: Lint code
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Report Coverage
        uses: davelosert/vitest-coverage-report-action@v2
